*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/pexels-anna-shvets-6664177.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.game-container{
    display: grid;
    place-items: center;
    height: 100vh;
}
h1{
    text-align: center;
    padding-top: 40px;
    font-size: 80px;
    color: white;
    font-family: "Creepster", system-ui;     
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 80px 0;
}
.heading p{
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    color: aliceblue;
    font-family: "Playball", cursive;
}
img{
    border-radius: 25px;
    width: 200px;
}
.btn_{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
button{
    width: 130px;
    font-size: 20px;
    padding: 10px 6px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    color: white;  
}
hr{
    width: 50%;
}
.game-container p{
    color: white;
    padding-top: 8px;
}

/* media query */
@media (max-width:1024px){
    h1{
        font-size: 45px;
        padding-top: 70px;
    }
    img{
        width: 100px;
    }
    .heading p{
        font-size: 20px;
    }

}